*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-size: 100%
  vertical-align: baseline

.home2-container
  color: white
  font-family: 'Inter', Arial, sans-serif
  background-color: #111111

.home2-wrapper
  width: 100%
  display: flex
  align-items: center
  flex-direction: column

.home2-align-content
  width: 100%
  height: 100%
  display: flex
  justify-content: center

.home2-fixed-width
  position: relative
  width: 100%
  height: 100%
  display: flex
  max-width: 1800px
  flex-direction: column
  //border: 1px solid white
  padding-left: 0.75rem
  padding-right: 0.75rem

.home2-header
  background-color: #111111
  width: 100%
  height: 8rem
  display: flex
  justify-content: center
  letter-spacing: 0.2rem


.home2-nav
  display: flex
  justify-content: space-between
  //border: 1px solid white
  width: 100%
  position: sticky
  top: 0

.nav-logo
  display: flex
  justify-content: center
  align-items: center

  p
    margin: 0

.nav-links
  display: flex
  justify-content: center
  align-items: center
  gap: 2rem

.home2-main
  background-color: #111111
  width: 100%
  height: 100%
  padding-top: 8rem

.home2-intro-section-wrapper
  width: 100%
  display: grid
  grid-template-columns: repeat(2, minmax(0, 1fr))
  column-gap: 0.75rem
  row-gap: 0.75rem

.home2-intro-section
  display: flex
  flex-direction: column
  border: 1px solid white
  letter-spacing: 0.3rem
  opacity: 0.7

.home2-intro-image
  display: flex
  flex-direction: column




.first-name
  font-size: 6rem
  margin: 0
  width: 100%
  letter-spacing: 0.5rem

.last-name
  font-size: 6rem
  margin: 0
  -webkit-text-fill-color: #111111
  -webkit-text-stroke: 1px white
  letter-spacing: 0.5rem