#root {
  font-size: 14px;
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  /*background-color: #171717;*/
  background-color: black;
  /*background-color: #dbdbdb;*/
}

@media (max-width: 767px) {
  body{
    background-color: black;
  }

}
